<!-- templates/internships.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Internship Opportunities</h1>
<ul>
    <li><a href="/ai_engineer/internships">AI/ML Engineer Internships</a></li>
    <li><a href="/data_scientist/internships">Data Scientist Internships</a></li>
    <li><a href="/cloud_engineer/internships">Cloud Engineer Internships</a></li>
    <li><a href="/cybersecurity_analyst/internships">Cybersecurity Analyst Internships</a></li>
    <li><a href="/full_stack/internships">Full Stack Developer Internships</a></li>
    <li><a href="/devops_engineer/internships">DevOps Engineer Internships</a></li>
    <li><a href="/blockchain_developer/internships">Blockchain Developer Internships</a></li>
    <li><a href="/ui_ux_designer/internships">UI/UX Designer Internships</a></li>
    <li><a href="/product_manager/internships">Product Manager Internships</a></li>
    <li><a href="/software_engineer/internships">Software Engineer Internships</a></li>
</ul>
{% endblock %}
